[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[hidden] {
    display: none
}

[type=text],
[type=email],
[type=url],
[type=password],
[type=number],
[type=date],
[type=datetime-local],
[type=month],
[type=search],
[type=tel],
[type=time],
[type=week],
[multiple],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
[type=password]:focus,
[type=number]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=month]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=time]:focus,
[type=week]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 0px solid transparent;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #ea580c
}

body {
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: hsl(var(--twc-default-800) / var(--twc-default-800-opacity, var(--tw-text-opacity)));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

:is(.dark body) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--twc-default-50) / var(--twc-default-50-opacity, var(--tw-bg-opacity)))
}

header.nav-sticky {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

:is(.dark header.nav-sticky) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--twc-default-50) / var(--twc-default-50-opacity, var(--tw-bg-opacity)))
}



:is(.dark .dark\:border-gray-600) {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity))
}

:is(.dark .dark\:bg-default-100) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--twc-default-100) / var(--twc-default-100-opacity, var(--tw-bg-opacity)))
}

:is(.dark .dark\:bg-default-200) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--twc-default-200) / var(--twc-default-200-opacity, var(--tw-bg-opacity)))
}

:is(.dark .dark\:bg-default-50) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--twc-default-50) / var(--twc-default-50-opacity, var(--tw-bg-opacity)))
}

:is(.dark .dark\:bg-gray-700) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity))
}

:is(.dark .dark\:bg-opacity-80) {
    --tw-bg-opacity: .8
}

:is(.dark .dark\:text-primary-50) {
    --tw-text-opacity: 1;
    color: rgb(255 247 237 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
    header.nav-sticky {
        --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }
}


.menu .active {
    color: #f58220 !important
}

.menu .hs-dropdown-menu .active {
    background-color: hsl(var(--twc-default-200) / .5)
}

.admin-menu .active {
    background-color: #f582201a !important;
    --tw-text-opacity: 1 !important;
    color: rgb(245 130 32 / var(--tw-text-opacity)) !important
}

.admin-menu [data-hs-collapse].active {
    background-color: hsl(var(--twc-default-200) / .5) !important;
    --tw-text-opacity: 1 !important;
    color: hsl(var(--twc-default-700) / var(--twc-default-700-opacity, var(--tw-text-opacity))) !important
}

@media (min-width: 1024px) {
    .page-content {
        min-height: calc(100vh - 146px)
    }
}

@media (min-width: 1024px) {
    .page-content {
        min-height: calc(100vh - 146px)
    }
}

.custom-scroll {
    overflow-y: auto
}

.custom-scroll::-webkit-scrollbar {
    -webkit-appearance: none
}

.custom-scroll::-webkit-scrollbar:vertical {
    width: 5px
}

.custom-scroll::-webkit-scrollbar:horizontal {
    height: 5px
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    border-width: 2px;
    border-color: hsl(var(--twc-default-900) / .1);
    background-color: hsl(var(--twc-default-900) / .1);
    opacity: .5
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: .5rem;
    background-color: transparent
}

.custom-scroll::-webkit-scrollbar-corner {
    background-color: transparent
}
